* {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    box-sizing: border-box;
}

html {
    background-color: #1d1d1d;
}

button {
    border-radius: 5px;
    border: 0.5px solid rgba(251, 251, 251, 0.2);
    background-color: transparent;
    color: #ffffff;
    padding: 8px 6px;
    margin: 10px 0 0 0;
    cursor: pointer;
}

.side-color-comp {
    display: flex;
    height: calc(100% + 1px);
    left: -1px;
    margin-right: 10px;
    position: absolute;
    bottom: -0.5px;
    width: 7px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.DIDeuIfkk {
    width: 50%;
    height: 27px;
    margin-bottom: 24px;
    display: inline-block;
    outline: none;
}

.remoove {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 48px;
    height: 48px;
}

.oyilyuil {
    position: relative;
}

.btn-history {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-history:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input {
    border: transparent;
    background-color: transparent;
    color: #ffffff;
    width: 100%;
    padding: 0;
}

input:focus {
    outline: none;
}

.cont-template {
    width: 774px;
    margin: 20px auto;
}

.cont-of-cont {
    background-color: #1d1d1d;
    height: calc(100vh - 90px);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

.header-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto 25px auto;
    border: 0.5px solid rgba(251, 251, 251, 0.2);
    border-radius: 8px;
    background-color: #252525;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.main-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50px;
    border-radius: 15px;
    border: 0.5px solid rgba(251, 251, 251, 0.2);
    background-color: #252525;
    color: #fbfbfb;
    padding: 8px 6px;
    margin: 10px 0 0 0;
    right: -72px;
    position: absolute;
    transition: top 0.2s;
}

.header-title-form input {
    font-size: 24px;
    height: 32px;
}

.header-title-form {
    padding: 0 24px;
}

.input-row {
    margin-left: 24px;
    margin-bottom: 24px;
    margin-right: 24px;
    height: 62px;
}

/* .input-row textarea {
    width: 50%;
    height: 27px;
    margin-bottom: 28px;
    display: inline-block;
    outline: none;
} */

.input-row button {
    width: 80px;
    margin-left: 20px;
}

.editable-div {
    border: 1px solid #ccc;
    padding: 5px;
    min-width: 50px;
    display: inline-block;
}

.conteur-input {
    display: inline;
    white-space: nowrap;
    display: flex;
    align-items: center;
    color: #6d6e6d;
    font-size: 12px;
}

.change-type-section {
    position: relative;
    display: inline-block;
}

.drop-down-change {
    width: 250px;
    height: 50px;
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: rgb(34, 33, 32);
    border: 0.5px solid rgba(251, 251, 251, 0.2);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 175px;
    border-radius: 8px;
}

.dropdown button {
    color: #fbfbfb;
    text-align: left;
    border: none;
    width: 165px;
    margin: 5px 5px;
}

.dropdown button:hover {
    background-color: rgb(44, 43, 41);
}

.title-form-cont-dynamique {
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #1d1d1d;
    transition: box-shadow 0.2s;
}

.title-form-cont-dynamique.shadow {
    box-shadow: 0 2px 2px 0 rgb(0, 0, 0);
}

.title-form-cont-dynamique h2 {
    margin: auto 0 auto 40px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
}

.btn-submit {
    background-color: rgb(53, 56, 218);
    height: 35px;
    width: 100px;
    margin: 0 40px;
}

.SPcBRc {
    background: none;
    border-bottom: 1px dotted rgb(172, 172, 172);
    position: relative;
    top: 18px;
}

.bottom-question-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(251, 251, 251, 0.2);
    height: 64px;
    margin: 0 24px;
}

.cont-must-question {
    height: 20px;
    width: 35px;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    outline: none;
    align-items: center;
    margin: 0 10px;
}

.background-obligatory {
    width: 100%;
    height: 10px;
    border-radius: 7px;
    cursor: pointer;
    background-color: #b9b9b9;
    position: absolute;
    top: 5px;
}

.circle-obligatory {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #fbfbfb;
    position: absolute;
    top: 0px;
    left: 0;
    transition: 0.2s;
    z-index: 2;
}

.eqrbdfv {
    box-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-pack: end;
}

.eqrbdfv button {
    margin: 0;
}

.drop-down-change {
    margin: 0;
}

.title-form-cont-dynamique {
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #1d1d1d;
    transition: box-shadow 0.2s;
}

.selected .focus1-active {
    display: flex;
}

.selected .focus-active {
    display: block;
}

.qerggereqr {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.selected .border-hover-bottom {
    width: 100%;
    height: 1px;
    bottom: 0px;
}

.border-focus-bottom {
    width: 100%;
    height: 2px;
    bottom: -1px;
    position: absolute;
}

.selected .input-hover:hover {
    background-color: #353535;
}

.selected .qerggereqr .border-hover-bottom {
    background-color: rgb(119, 119, 119);
}

.qerggereqr:focus-within .border-focus-bottom {
    animation: inputUderLine 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgb(255, 255, 255);
}

@keyframes inputUderLine {
    0% {
        transform: scaleX(0);
        opacity: 0;
    }

    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}

.size-border-input {
    width: 100%;
    height: 2px;
    position: relative;
    bottom: 0;
}

.selected .side-color-comp {
    background-color: #6d6e6d;
    z-index: 100000;
}

.selected .title-form-head {
    margin: 0;
    padding: 16px;
    height: auto;
}

.selected .header-title-form {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    position: relative;
    justify-content: space-between;
}

.fontSize1 {
    font-size: 24pt !important;
}

.cont-input-option-border {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.input-column {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    padding-right: 24px;
}
.input-option {
    display: flex;
    flex-direction: row;
    margin-top: 7px;
    background-color: #252525;
}

.selected .border-hover-bottom-input {
    margin-top: 5px;
    width: 100%;
    height: 1px;
    bottom: 0px;
}

.border-focus-bottom-input {
    width: 100%;
    height: 2px;
}

.selected .cont-input-option-border:hover .border-hover-bottom-input {
    background-color: rgba(255, 255, 255, 0.2);
}

.cont-input-option-border:focus-within .border-focus-bottom-input {
    animation: inputUderLine 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgb(255, 255, 255);
}

.cont-cross-delet-option {
    height: 48px;
    width: 48px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.add-option {
    color: #456ae7;
    width: fit-content;
    font-size: smaller;
    cursor: pointer;
}

.selected .cont-drag-composant {
    visibility: visible;
}

/* *****************************************************
********************************************************
                Encoche Option
********************************************************
******************************************************** */

.cont-encoche-option {
    display: flex;
    align-items: center;
    height: 48px;
}

.margin-option-encoche {
    margin-right: 10px;
}

.circle-encoche {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid;
    border-color: rgba(255, 255, 255, 0.4);
}

/* *****************************************************
********************************************************
                Drag End Drop Option
********************************************************
******************************************************** */

.cont-drag-end-drop {
    display: flex;
    align-items: center;
    cursor: move;
    visibility: hidden;
}

.selected .input-option:hover .cont-drag-end-drop {
    visibility: visible;
}

.drag-end-drop {
    padding-left: 2px;
    display: flex;
}

.margin-add-option {
    width: 26px;
}

.focus-active {
    display: none;
}

.focus1-active {
    display: none;
}

.drag-ghost .cont-drag-composant {
    visibility: hidden;
}
